SERVER_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=bytevault
DB_SSLMODE=disable

APP_ENV=development

JWT_SECRET=bytevault-super-secret-change-in-production-2026
JWT_ACCESSEXPIRY=15m
JWT_REFRESHEXPIRY=168h

# Storage Configurations
# Options: "local", "cloudinary", "r2"
STORAGE_PROVIDER=r2

# Local Storage settings
STORAGE_LOCAL_DIR=./uploads

# Cloudinary settings
STORAGE_CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cloudflare R2 / S3 settings
STORAGE_R2_ENDPOINT=
STORAGE_R2_ACCESS_KEY_ID=
STORAGE_R2_SECRET_ACCESS_KEY=
STORAGE_R2_BUCKET=
STORAGE_R2_USER_API_TOKEN_VALUE=